<html>
 <head>
	 <title>Puppet test - New update</title> 
 </head> 
 <body> 
   <p>This server's name is: <%= @hostname %></p>
   <p>This server's IP address is: <%= @ipaddress %></p>
   <h1>Welcome to : "<%= @application_title %>" </h1>
 </body> 
</html>
